header {
    height: 100vh;
    padding-top: 6.5rem;
    overflow: hidden;
    text-align: center;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 1.8rem;
}

.cta .btn {
    margin: 0.4rem;
}

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 35rem;
    font-size: 2rem;
    bottom: 3.5rem;
}
 
.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    height: 32rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4rem;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;    
    max-width: 20rem;
    margin-top: 2.5rem;
    justify-content: center;
}

.scroll__down {
    position: absolute;
    right: 1rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 1.2rem;

}

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}
